#canvas {
    position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(10px); 
      z-index: -1;
      transition: backdrop-filter 1s ease;
}